/* .S-div{
    background-color: gold;
    width: 25vw;
    text-align: center;
    height: 30vw;
    border-radius: 15px;
   
   
} */

 .S-maindiv{
    padding-left: 40%;
    padding-top: 10%;
    align-items: center;
    width: 900px;
   
}
/* .L-maindiv{
    padding-left: 40%;
    padding-top: 10%;
}
.L-div{
    background-color: gold;
    width: 25vw;
    text-align: center;
    height: 30vw;
    border-radius: 15px;
}  */